@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}
@import '../components/LoginForm/LoginForm.scss';

@import '../components/AutoInput/AutoInput.scss';
.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.w-50 {
  max-width: 400px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.li {
  cursor: pointer;
}